.rmt-slider-container {
    width: 100%;
    overflow: hidden;
}

.rmt-glass-slide {
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.rmt-slide-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    opacity: 0.7;
    background: linear-gradient(270deg, #8A8F91 0%, #3A5F79 100%);
}

.rmt-slide-container {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.rmt-slide-content {
    color: #fff;
    max-width: 700px;
    text-align: left;
}

.rmt-title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 15px;
}

.rmt-subtitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

/* Glassmorphic Button with multi-layer shadow */
.rmt-glass-btn {
    display: inline-flex;
    align-items: center;
    padding: 12px 35px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(42.51874542236328px) !important;
    background: linear-gradient(90deg, #3A5F79 0%, rgba(58, 95, 121, 0.4) 100%);

    box-shadow:

        -3.54px -3.54px 1.77px -3.54px rgba(255, 255, 255, 0.9) inset,
        3.54px 3.54px 1.77px -1.54px rgba(255, 255, 255, 0.5) inset,
        -3.54px -3.54px 0px -11.77px rgba(38, 38, 38, 0.5) inset,
        3.54px 3.54px 60px -11.77px rgba(51, 51, 51, 0.5) inset,
        0px 10px 20px 0px rgba(0, 0, 0, 0.2) !important;

    transition: all 0.3s ease;

}

/* Arrows Style */
.rmt-nav-btn {
    color: #fff !important;
    width: 50px !important;
    height: 50px !important;
    background: none !important;
    transition: 0.3s;
    z-index: 10 !important;
}

.rmt-nav-btn::after {
    display: none;
}

/* Remove swiper default icon */

.rmt-nav-btn i,
.rmt-nav-btn svg {
    font-size: 30px;
    opacity: 0.6;
}

.rmt-nav-btn:hover i {
    opacity: 1;
}

/* Pagination - ensure always visible above content */
.rmt-glass-slider .swiper-pagination {
    z-index: 10 !important;
}

/* Dots Logic */
.swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.4) !important;
    width: 8px !important;
    height: 8px !important;
    opacity: 1 !important;
    transition: 0.3s ease;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
    width: 40px !important;
    border-radius: 5px !important;
}